<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Si te gustan las tiras cómicas de Marvel, estás de suerte. Todo este contenido es pensado para tí, la compañía de entretenimiento que ahora pone a nuestra disposición este material. Su base de datos recoge informacion, que podremos buscar por nombre o
    por fecha. La interfaz es mas simple que en otros casos, pero cumple a la perfección teniendo en cuenta el formato para el cual está destinada. Es gratuita y entre su catálogo dispone de muchos cómics en nuestro idioma.
</p>